### Calculating Errors

Here are two datasets that represent two of the examples you have seen in this lesson.  

One dataset is based on the parachute example, and the second is based on the judicial example.  Neither of these datasets is based on real people.

Use the exercises below to assist in answering the quiz questions at the bottom of this page.

In [1]:
import numpy as np
import pandas as pd

jud_data = pd.read_csv('judicial_dataset_predictions.csv')
par_data = pd.read_csv('parachute_dataset.csv')

In [2]:
jud_data.head()

   defendant_id    actual predicted
0         22574  innocent  innocent
1         35637  innocent  innocent
2         39919  innocent  innocent
3         29610    guilty    guilty
4         38273  innocent  innocent

In [3]:
par_data.head()

   parachute_id actual predicted
0          3956  opens     opens
1          2147  opens     opens
2          2024  opens     opens
3          8325  opens     opens
4          6598  opens     opens

`1.` Above, you can see the actual and predicted columns for each of the datasets.  Using the **jud_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 1 below.  

**Hint for quiz:** an error is any time the prediction doesn't match an actual value.  Additionally, there are Type I and Type II errors to think about.  We also know we can minimize one type of error by maximizing the other type of error.  If we predict all individuals as innocent, how many of the guilty are incorrectly labeled?  Similarly, if we predict all individuals as guilty, how many of the innocent are incorrectly labeled?

### Null hypothesis : all individuals are innocent.
### Alternate : All individuals are not innocent

In [14]:
pred_innocent = jud_data.query('actual == "guilty" & predicted == "innocent"').count()
pred_innocent

defendant_id    296
actual          296
predicted       296
dtype: int64

In [10]:
jud_data.shape

(7283, 3)

In [16]:
pred_innocent/jud_data.shape[0]

defendant_id    0.040643
actual          0.040643
predicted       0.040643
dtype: float64

In [18]:
pred_guilty = jud_data.query('actual == "innocent" & predicted == "guilty"').count()
pred_guilty

defendant_id    11
actual          11
predicted       11
dtype: int64

In [22]:
pred_guilty/jud_data.shape[0]

defendant_id    0.00151
actual          0.00151
predicted       0.00151
dtype: float64

In [20]:
total  = pred_innocent + pred_guilty
total

defendant_id    307
actual          307
predicted       307
dtype: int64

In [21]:
total/jud_data.shape[0]

defendant_id    0.042153
actual          0.042153
predicted       0.042153
dtype: float64

### When the Null Hypothesis is that all are innocent.

In [27]:
guilty = jud_data.query('actual == "guilty"').count()
guilty

defendant_id    3994
actual          3994
predicted       3994
dtype: int64

In [28]:
guilty/jud_data.shape[0]

defendant_id    0.5484
actual          0.5484
predicted       0.5484
dtype: float64

### Type 1 error = null is true = all are innocent
### Type 2 error = alternate is true = all are not innocent. 

It appears that alternate is true

### When the Null Hypothesis is all are guilty

In [29]:
innocent = jud_data.query('actual == "innocent"').count()
innocent

defendant_id    3289
actual          3289
predicted       3289
dtype: int64

In [30]:
innocent/jud_data.shape[0]

defendant_id    0.4516
actual          0.4516
predicted       0.4516
dtype: float64

Remember Type I Errors are individuals who are predicted guilty, but are actually innocent.

Remember Type II Errors are individuals who are predicted innocent, but are actually guilty.

Notice that Type II Errors are individuals where guilty individuals are predicted as innocent. If everyone is predicted as guilty, what proportion of the time would we commit Type II Errors then?

## Lets consider parachute data

Null hypothesis : All parachutes fail

Alternate hypothesis: all parachutes open

Type 1 error: parachutes that are predicted to fail but opens

Type 2 error: parachutes that are predicted to open but fails

In [31]:
par_data.head()

   parachute_id actual predicted
0          3956  opens     opens
1          2147  opens     opens
2          2024  opens     opens
3          8325  opens     opens
4          6598  opens     opens

In [33]:
# Total percentage of errors

par_data.actual.value_counts()

opens    5781
fails      48
Name: actual, dtype: int64